nav{
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 5;
  top:0;
  left:0;
}
.logo-style{
  width: 8vh !important;
  height: 8vh !important;
  padding: 3px !important;
}
.right-style{
  width: 50%;
}
.item-style{
  font-size: 1.5em;
  font-family: ;
}
.button-style{
  font-size: 1.5em !important;
}
.display-contain{
  display: flex;
}
.display-right{
  border:solid;
  flex:1;
}
.display-left{
  border:solid;
  padding: 5vh 5vw 5vh 5vw;
  flex:2;
}
.button-modal{
text-align: center
}
.card-group{
  margin-top: 3vh !important;
}
.my-cards{
  margin-top: 5vh !important;
}
.trash-button{
  float:right;
}
