nav{
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 5;
  top:0;
  left:0;
}
.logo{
  width: 8vh;
  height: 8vh;
  padding: 3px;
}
.right-style{
  width: 50%;
}
.item-style{
  font-size: 1.5em;
  font-family: ;
}
.button-style{
  width: 100%;
  font-size: 1.5em;
}
.food-contain{
  border:solid red;
  padding:20vh 0 0 20vw;
}
.add-button{
  color:red;
}
