nav{
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 5;
  top:0;
  left:0;
}
.logo-style{
  width: 8vh !important;
  height: 8vh !important;
  padding: 3px !important;
}
.right-style{
  width: 50%;
}
.item-style{
  font-size: 1.5em;
  font-family: ;
}
.button-style{
  font-size: 1.5em !important;
}
.display-contain{
  background: url(./images/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.shade{
  /* background: rgba(255,255,255,0.2); */
  display: flex;
}
.display-contain-ex{
  background: url(./images/back1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.shade-ex{
  /* background: rgba(255,255,255,0.3); */
  display: flex;
}
.display-right{
  border-left:solid 1px darkgray;
  background-attachment: fixed;
  flex:1;
  text-align: center;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  background: rgba(255,255,255,0.6);
}
.display-left{
  padding: 5vh 5vw 5vh 5vw;
  flex:2;
  height: 92vh;
  overflow-y: auto;
}
.button-modal{
text-align: center
}
.modal-style{
  text-align: center;
  padding: 2vh 0 0 0;
}
.card-group{
  margin-top: 3vh !important;
}
.my-cards{
  margin-top: 5vh !important;
  opacity: 0.9;
}
.trash-button{
  float:right;
}
.stats{
  flex:1;
  margin:0 !important;
}
.divide{
  margin: 0 !important;
  margin-bottom: 3vh !important;
  margin-top: 4vh !important;
}
.progress{
  height: 25vh;
  padding-top:3vh;
}


.profile{
  display:flex;
  flex-direction: column;
  width:350px;
  margin: 20px auto;
}
