#profile{
    display:flex;
    flex-direction: column;
    /* font-family:Heiti TC; */
  }
  
  #title{
    position: relative;
    top:0;
    left: 0;
  }

  #backgroundImg{
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.7;
    height: 400px;
    object-fit: cover;
  }

  #profilePic{
    position: absolute;
    top: 180px;
    left: 25px;
  }

  #pencil{
      margin-left: 20px;
      margin-top:160px;
  }

  #profilePic{
      display: flex;
      /* justify-content: space-around; */
  }

  #info{
    display:flex;
    flex-direction: column;
    width:1500px;
    margin: 20px auto;
  }

#content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
}

#personalInfo{
    width: 950px;
    height: 220px;
    margin:40px 30px;
}

#emailAddress{
    background-color:rgb(238,238,238);
    color: black;
    float: left;
    padding: 5px 10px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#quotes p span{
    display: block;
    text-indent: 50px;
}

#personalGoal{
    text-align: center;
    width: 500px;
    margin: 30px auto;
}

#personalGoal{
  display:flex;
  flex-direction: row;
}

#goalButton{
  width: 150px;
  text-align: left;
}

#go{
  width: 100px;
}









  

